.title {
    text-align:center;
    position:relative;
    background-color:green;
    height: 10vh;
    margin: -8px;
    padding: 20px;
}

#headerTitle:hover {
    position:relative;
    top:-10px;
    color:gold;
    transition-duration: 0.5s;
    font-size: 40px;
}

#headerTitle:not(hover) {
    position: relative;
    top:12.5px;
    color:white;
    transition-duration: 0.5s;
    font-size: 25px;
}

@media (max-width:500px) {
    #headerTitle:hover {
        position:relative;
        top:8px;
        color:gold;
        transition-duration: 0.5s;
        font-size: 25px;
    }
    
    #headerTitle:not(hover) {
        position: relative;
        top:17.5px;
        color:white;
        transition-duration: 0.5s;
        font-size: 20px;
    }
}